.card{
    background-color: rgb(207, 214, 229);
    border: 2px solid rgb(232, 226, 226);
    margin: 15px;
    width: 90%;
} 

input{
    width: 80%;
}

#btnAgregar{
    background: green;
    border-radius: 5px;
    color: white;
}

li{
    list-style: none;
    margin: 0px;
    width: auto;
    
}
ul{
    display: flex;
    flex-direction: column;
    
    width: auto;
}
.check{
    
    width: 10px;
    margin: 3px;
}

.btnX{
    border: 0ch;
    background-color: unset;
    margin: 3px;
}
.container{
    font-size: small;
}